<!-- product -->
<section id="products" class="products">
  <div [ngClass]="{ 'products-loading': fetchingData }"></div>
  <div class="section-title">
    <h2>our products</h2>
  </div>
  <div class="products-center">
    <!-- single product -->
    <article class="product" *ngFor="let product of products">
      <a routerLink="./{{ product.id }}">
        <div class="img-container">
          <img src="{{ product.image }}" alt="prudct1" class="product-img" />
          <!-- <button class="bag-btn">
            <i class="fas fa-shopping-cart"></i>add to cart
          </button> -->
        </div>
        <h3>{{ product.name }}</h3>
      </a>
      <h4>${{ product.price / 100 }}</h4>
    </article>

    <!-- end of single product -->
  </div>
</section>
<!-- end of product -->
