<div class="form-container">
  <div class="form-wrapper">
    <h1>Add new product</h1>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" />
        <div *ngIf="name?.touched && name?.invalid" class="invalid-feedback">
          <small *ngIf="name!.errors?.required">Name is required</small>
        </div>
      </div>

      <div class="form-control">
        <label for="image">Image (URL)</label>
        <input type="text" formControlName="image" id="image" />
        <div *ngIf="image?.touched && image?.invalid" class="invalid-feedback">
          <small *ngIf="image!.errors?.required">Image (URL) is required</small>
        </div>
      </div>
      <div class="form-control">
        <label for="description">Description <small>(optional)</small></label>
        <textarea formControlName="description" id="description"></textarea>
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" formControlName="price" id="price" />
        <div *ngIf="price?.touched && price?.invalid" class="invalid-feedback">
          <small *ngIf="price!.errors?.required">Price is required</small>
          <small *ngIf="price!.errors?.pattern">Price must be a number</small>
        </div>
      </div>
      <button
        type="submit"
        [ngClass]="{ 'button-loading': addingData }"
        [disabled]="addProductForm.invalid"
      >
        <span class="button-text">Add</span>
      </button>
      <span *ngIf="showSccuessMsg" class="success-msg">
        Product added succesfully
      </span>
    </form>
  </div>
</div>
